<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WS_POINT_ADS</key>
	<string>ads/?json=1&amp;search[category_id]=%d</string>
	<key>WS_URL</key>
	<string>https://olx.pt/i2</string>
</dict>
</plist>
